@import "bootstrap-overrides/icons.less";



&.fuelux-mctheme-icon {
	position: relative;
	top: 1px;
	display: inline-block;
	line-height: 1;
	background: url("../img/fuelux-mctheme-icons-subset-winter-2014.png") top left no-repeat;



	&.download {
		.download-grey-med;
		&:hover {
			.download-blue-med;
		}
	}

	&.trash {
		.trash-grey-med;
		&:hover {
			.trash-blue-med;
		}
	}


	&.file-copy {
		.copy-grey-med;
		&:hover {
			.copy-blue-med;
		}
	}



	&.calendar-blue-med-hover {
		width: 16px;
		height: 16px;
		background-position: -10px -61px;
	}
	&.calendar-blue-med {
		width: 16px;
		height: 16px;
		background-position: -10px -86px;
	}
	&.calendar-grey-med-disabled {
		width: 16px;
		height: 16px;
		background-position: -10px -36px;
	}
	&.copy-blue-med {
		width: 16px;
		height: 16px;
		background-position: -10px -10px;
	}
	&.copy-grey-med {
		width: 16px;
		height: 16px;
		background-position: -10px -161px;
	}
	&.download-blue-med {
		width: 16px;
		height: 16px;
		background-position: -10px -136px;
	}
	&.download-grey-med {
		width: 16px;
		height: 16px;
		background-position: -10px -111px;
	}
	&.edit-blue-med {
		width: 16px;
		height: 16px;
		background-position: -10px -282px;
	}
	&.edit-green-med {
		width: 16px;
		height: 16px;
		background-position: -10px -235px;
	}
	&.edit-grey-flat-med {
		width: 16px;
		height: 16px;
		background-position: -10px -259px;
	}
	&.edit-grey-med {
		width: 11px;
		height: 11px;
		background-position: -10px -534px;
	}
	&.thumbs-down-blue-med {
		width: 16px;
		height: 16px;
		background-position: -10px -466px;
	}
	&.thumbs-down-green-med {
		width: 16px;
		height: 16px;
		background-position: -10px -420px;
	}
	&.thumbs-down-red-med {
		width: 16px;
		height: 16px;
		background-position: -10px -328px;
	}
	&.thumbs-down-white-med {
		width: 16px;
		height: 16px;
		background-position: -10px -374px;
	}
	&.thumbs-up-blue-med {
		width: 16px;
		height: 16px;
		background-position: -10px -489px;
	}
	&.thumbs-up-green-med {
		width: 16px;
		height: 16px;
		background-position: -10px -443px;
	}
	&.thumbs-up-red-med {
		width: 16px;
		height: 16px;
		background-position: -10px -351px;
	}
	&.thumbs-up-white-med {
		width: 16px;
		height: 16px;
		background-position: -10px -397px;
	}
	&.trash-blue-med {
		width: 16px;
		height: 16px;
		background-position: -10px -186px;
	}
	&.trash-blue-small {
		width: 11px;
		height: 16px;
		background-position: -10px -305px;
	}
	&.trash-grey-med {
		width: 16px;
		height: 16px;
		background-position: -10px -211px;
	}
	&.trash-grey-small {
		width: 11px;
		height: 16px;
		background-position: -10px -516px;
	}



}